h1 {
  background: url('@img/cover.jpg') 0 0 no-repeat;
  font-family: Montserrat;
  font-weight: 300;
}

body {
  background-color: #ccc;
  span,
  header,
  footer {
    color: #000;
    font-family: Montserrat;
    font-weight: 300;
  }
}
